header {
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    background-color: #FEDA38;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

header .Tekst {
    color: black;
    font-weight: 800;
    text-decoration: none;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-left: 20px;
    margin-right: auto;
}

.logo {
    width: 6%;
    height: 6%;
}

header .menu li {
    display: inline-block;
    padding: 20px 0 20px;
    vertical-align: middle;
}

header .menu a:hover, a.active {
    text-decoration: none;
}

header .menu a {
    font-family: Dubai, 'Helvetica Neue', Helvetica, sans-serif;
    text-decoration: none;
    transition: color 0.1s, background-color 0.1s;
}

header .menu a {
    position: relative;
    display: block;
    padding: 16px 0;
    margin: 0 12px;
    letter-spacing: 1px;
    font-size: 30px;
    line-height: 16px;
    font-weight: 900;
    text-transform: uppercase;
    transition: color 0.1s,background-color 0.1s,padding 0.2s ease-in;
    color: #000;
    padding-top: 30px;
}

header .menu a::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 3px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #f86600;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.1s,transform 0.2s ease-out;
}

header .menu a.active::before {
    background-color: #f86600;
}

header .menu a:hover::before, .menu a.active::before {
    transform-origin: left top;
    transform: scale(1, 1);
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000014
}

.page-content {
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;
}

H1 {
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.page-content .uitgelicht {
    width: 33%;
    border-radius: 20px;
    padding: 5px;
}

.page-content .info {
    width: 100%;
    border-radius: 20px;
}

.page-content .films {
    width: 19.5%;
    padding: 5px;
}

footer {
    width: 100%;
    padding: 25px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    background-color: #FEDA38;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

footer h2 {
    font-size: 18px;
}