@{
    ViewData["Title"] = "Bioscoop";
}

<body>
    <div class="page-content">
        <h1>Wil je andere projecten van ons bekijken?</h1>
        <h3>(laden kan even duren)</h3><br /><br />

        <h3>Flappy Bird:</h3>
        <iframe frameborder="0" width="1250" height="700" src="https://flappy-bird--pleunbusman.repl.co?embed=true"></iframe>
@*        <iframe width="1250" height="1000" frameborder="0" src="https://trucksim1980.vinciento.repl.co?embed=true"></iframe>
*@    </div>
</body>