@{
    ViewData["Title"] = "Bestellen";
    ViewData["currentTab"] = "films";
}

<body>
<div class="page-content">
    <div class="bestellinksboven">
        <h1>No time to die</h1>
        <div class="bestelposter">
            <img src="https://media.pathe.nl/nocropthumb/360x508/gfx_content/PathePartners/movie-24292-NTTD_DIGTAL_1SHEET_ICONIC_TUX_NED-30sept.jpg" style="width: 450%;">
        </div>
        <div class="kijkwijzer">
            <img src="https://www.pathe.nl/assets/img/icons/kijkwijzer/kijkwijzer-12-gray-32.png" style="margin-left: 5px;">
            <img src="https://www.pathe.nl/assets/img/icons/kijkwijzer/kijkwijzer-fear-gray-32.png">
            <img src="https://www.pathe.nl/assets/img/icons/kijkwijzer/kijkwijzer-explicitlanguage-gray-32.png">
            <img src="https://www.pathe.nl/assets/img/icons/kijkwijzer/kijkwijzer-violence-gray-32.png">
        </div>
        <div class="categorie">
            <h3 style="width:40px; padding-left:5px; margin-left:5px; float:left;">Actie</h3>
            <h3 style="width:65px; padding-left:5px; margin-left:5px; float:left;">Avontuur</h3>
        </div>
    </div>
    <div class="bestelrechts">
        <div class="filmagenda">
                <div class="dtfilm">
                    <h3 class="title">Vandaag</h3>
                    <div class="filmtijden">
                        <a href="#">
                        <div class="tijdversie">
                            <h3>10:00 - 13:00</h3>
                            <h3>2D</h3>
                        </div></a>
                        <a href="#">
                        <div class="tijdversie">
                            <h3>11:30 - 14:30</h3>
                            <h3>2D</h3>
                        </div></a>
                        <a href="#">
                        <div class="tijdversie">
                            <h3>13:00 - 16:00</h3>
                            <h3>3D</h3>
                        </div></a>
                        <a href="#">
                        <div class="tijdversie">
                            <h3>14:30 - 17:30</h3>
                            <h3>2D</h3>
                        </div></a>
                        <a href="#">
                        <div class="tijdversie">
                            <h3>16:00 - 19:00</h3>
                            <h3>3D</h3>
                        </div></a>
                    </div>
                </div>
        </div>

        <div class="filmagenda">
                <div class="dtfilm">
                    <h3 class="title">Morgen</h3>
                    <div class="filmtijden">
                        <a href="#">
                        <div class="tijdversie">
                            <h3>10:30 - 12:30</h3>
                            <h3>2D</h3>
                        </div></a>
                        <a href="#">
                        <div class="tijdversie">
                            <h3>13:30 - 15:30</h3>
                            <h3>2D</h3>
                        </div></a>
                        <a href="#">
                        <div class="tijdversie">
                            <h3>16:30 - 18:30</h3>
                            <h3>2D</h3>
                        </div></a>
                    </div>
                </div>
        </div>

        <div class="filmagenda">
                <div class="dtfilm">
                    <h3 class="title">Overmorgen</h3>
                    <div class="filmtijden">
                        <a href="#">
                        <div class="tijdversie">
                            <h3>11:00 - 14:00</h3>
                            <h3>3D</h3>
                        </div></a>
                        <a href="#">
                        <div class="tijdversie">
                            <h3>12:30 - 15:30</h3>
                            <h3>3D</h3>
                        </div></a>
                        <a href="#">
                        <div class="tijdversie">
                            <h3>11:00 - 14:00</h3>
                            <h3>3D</h3>
                        </div></a>
                        <a href="#">
                        <div class="tijdversie">
                            <h3>15:00 - 18:00</h3>
                            <h3>3D</h3>
                        </div></a>
                        <a href="#">
                        <div class="tijdversie">
                            <h3>16:30 - 19:30</h3>
                            <h3>3D</h3>
                        </div></a>
                    </div>
                </div>
        </div>
    </div>
    </div>

    <div class="bestellinksonder">
        <div class="icons">
            <i class="fa-solid fa-calendar" id="active"></i>
            <i class="fa-solid fa-ticket"></i>
            <i class="fas fa-couch"></i>
            <i class="fa-solid fa-id-card"></i>
            <i class="fa-solid fa-money-check-dollar"></i>
        </div>
        <div class="buttons">
            <div class="next">
                <a href="/bestellen2">Volgende stap</a>
            </div>
            <div class="prev">
                <a href="/detailpagina"> ⬅ Vorige stap</a>
            </div>
        </div>
    </div>
    

</div>
</body>