@{
    ViewData["Title"] = "Bestellen";
    ViewData["currentTab"] = "films";
}

<body>
<div class="page-content">
    <div class="bestellinksboven">
        <h1>No time to die</h1>
        <div class="bestelposter">
            <img src="https://media.pathe.nl/nocropthumb/360x508/gfx_content/PathePartners/movie-24292-NTTD_DIGTAL_1SHEET_ICONIC_TUX_NED-30sept.jpg" style="width: 450%;">
        </div>
        <div class="kijkwijzer">
            <img src="https://www.pathe.nl/assets/img/icons/kijkwijzer/kijkwijzer-12-gray-32.png" style="margin-left: 5px;">
            <img src="https://www.pathe.nl/assets/img/icons/kijkwijzer/kijkwijzer-fear-gray-32.png">
            <img src="https://www.pathe.nl/assets/img/icons/kijkwijzer/kijkwijzer-explicitlanguage-gray-32.png">
            <img src="https://www.pathe.nl/assets/img/icons/kijkwijzer/kijkwijzer-violence-gray-32.png">
        </div>
        <div class="categorie">
            <h3 style="width:40px; padding-left:5px; margin-left:5px; float:left;">Actie</h3>
            <h3 style="width:65px; padding-left:5px; margin-left:5px; float:left;">Avontuur</h3>
        </div>
    </div>
    <div class="bestelrechts">
        
    </div>

    <div class="bestellinksonder">
        <div class="icons">
            <i class="fa-solid fa-calendar"></i>
            <i class="fa-solid fa-ticket" ></i>
            <i class="fas fa-couch"></i>
            <i class="fa-solid fa-id-card"></i>
            <i class="fa-solid fa-money-check-dollar" id="active"></i>
        </div>
        <div class="buttons">
            <div class="next">
                <a href="/bestellen6">Volgende stap</a>
            </div>
            <div class="prev">
                <a href="/bestellen4"> ⬅ Vorige stap</a>
            </div>
        </div>
    </div>
    

</div>
</body>