@{
    ViewData["Title"] = "Bestellen";
    ViewData["currentTab"] = "films";
}

<body>
<div class="page-content">
    <div class="bestellinksboven">
        <h1>No time to die</h1>
        <div class="bestelposter">
            <img src="https://media.pathe.nl/nocropthumb/360x508/gfx_content/PathePartners/movie-24292-NTTD_DIGTAL_1SHEET_ICONIC_TUX_NED-30sept.jpg" style="width: 450%;">
        </div>
        <div class="kijkwijzer">
            <img src="https://www.pathe.nl/assets/img/icons/kijkwijzer/kijkwijzer-12-gray-32.png" style="margin-left: 5px;">
            <img src="https://www.pathe.nl/assets/img/icons/kijkwijzer/kijkwijzer-fear-gray-32.png">
            <img src="https://www.pathe.nl/assets/img/icons/kijkwijzer/kijkwijzer-explicitlanguage-gray-32.png">
            <img src="https://www.pathe.nl/assets/img/icons/kijkwijzer/kijkwijzer-violence-gray-32.png">
        </div>
        <div class="categorie"style="margin-bottom: 40px; ">
            <h3 style="width:40px; padding-left:5px; margin-left:5px; float:left;">Actie</h3>
            <h3 style="width:65px; padding-left:5px; margin-left:5px; float:left;">Avontuur</h3>
        </div>
        <h3 style="margin-left: 5px;">Datum film</h3>
        <h3 style="margin-left: 5px;">Tijd film</h3>
    </div>
    <div class="bestelrechts">
        <h1>Vul hieronder uw gegevens in:</h1>
        <div class="gegevens">
            <div class="input">
                <h3>Voornaam</h3> 
                <input type="text">
            </div>
            <div class="input">
                <h3>Achternaam</h3>
                <input type="text">
            </div>
            <div class = "input">
                <h3>E-mailadres</h3>
                <input type="text">
            </div>
            <div class="input">
                <h3>Herhaal E-mailadres</h3>
                <input type="text">
            </div>
        </div>
        <div class="login">
            <h1>Of log in met uw Cinema biocoop account</h1>
            <h3>of misschien moeten we hier maken dat je verplicht moet inloggen met je cinemabioscoop account en dat je een account kunt aanmaken</h3><br />
            <a href="/inloggen" class="inloggen">Inloggen</a>
            <a href="/createaccount" class="inloggen">Maak een account aan</a><br /><br /><br /><br />
        </div>
        <div class="voorwaarden">
            <input type="checkbox" id="algemenevoorwaarden" name="algemenevoorwaarden" value="akkoord"><label for="algemenevoorwaarden"> Ik ga akkoord met de <a href="/algemenevoorwaarden">algemene voorwaarden</a></label><br>
        </div>
    </div>

    <div class="bestellinksonder">
        <div class="icons">
            <i class="fa-solid fa-calendar"></i>
            <i class="fa-solid fa-ticket" ></i>
            <i class="fas fa-couch"></i>
            <i class="fa-solid fa-id-card" id="active"></i>
            <i class="fa-solid fa-money-check-dollar"></i>
        </div>
        <div class="buttons">
            <div class="next">
                <a href="/bestellen5">Volgende stap</a>
            </div>
            <div class="prev">
                <a href="/bestellen3"> ⬅ Vorige stap</a>
            </div>
        </div>
    </div>
    

</div>
</body>