@{
    ViewData["Title"] = "Bestellen";
    ViewData["currentTab"] = "films";
}

<body>
<div class="page-content">
    <h1>bestellen</h1>
    <div class="bestellinksboven">
        <h3>Linksboven</h3>
    </div>
    <div class="bestelrechts">
        <h3>rechts</h3>
    </div>
    <div class="bestellinksonder">
        <h3>Linksonder</h3>
    </div>
    

</div>
</body>