@{
    ViewData["Title"] = "Bioscoop";
    ViewData["currentTab"] = "bioscoop";
}

<body>
    <div class="page-content">
        <div class="slideshow-container">
	        <div class="mySlides fade">
  		        <img src="https://www.vuecinemas.nl/userfiles/1.WEBSITE2022/02.%20CARROUSEL/Mobile_web_banner_NIEUWE_Maatregelen_Covid_Update_25-01-2022.jpg" style="width:100%">
	        </div>

	        <div class="mySlides fade">
  		        <img src="https://www.vuecinemas.nl/userfiles/1.WEBSITE2022/02.%20CARROUSEL/Mobile_web_banner_We_Zijn_Open_en_Filmtitels_Update_25-01-2022.jpg" style="width:100%">
	        </div>

	        <div class="mySlides fade">
  		        <img src="https://www.vuecinemas.nl/userfiles/1.WEBSITE2022/02.%20CARROUSEL/Mobile_web_banner_Vue_Anime_Sword_Art_Online.jpg" style="width:100%">
	        </div>
        </div>

        <div class= "stippen">
          <span class="dot"></span> 
          <span class="dot"></span> 
          <span class="dot"></span> 
        </div> <br>

        <div class="bioscooptekst">
            <h1>Cinéma bioscoop</h1>
            <h3>De Cinéma bioscoop is een gezellige bioscoop gelegen in Voorburg. De bioscoop heeft 9 zalen waaronder 2 3D zalen, daarnaast heeft de Cinéma bioscoop een speciale dolby atmos en een 4DX zaal. De bioscoop biedt 1150 comfortabele zitplaatsen. Het filmaanbod is heel breed en ons personeel staat altijd klaar om je te helpen bij het uitkiezen van de geschikte film voor jouw filmuitje. Maak je filmuitje compleet met een hapje en een drankje bij een van de vele restaurants die rondom de bioscoop gevestigd zijn. De bioscoop is met de fiets, het openbaar vervoer of met de auto goed bereikbaar. Parkeren kan voordelig rondom de bioscoop en de tram en bussen stoppen op loopafstand van de bioscoop.</h3> <br><br>
            <h1>Filmbelevingen</h1>
            <h3>De Cinéma bioscoop is op gebied van beeld en geluid uitgerust met de modernste technieken voor de beste filmbeleving. Daarnaast is de bioscoop ook uitgerust met een Dolby Atmos zaal die is voorzien van de best geluidskwaliteit voor de ultieme filmbeleving. Wil je nog een stapje verder gaan? Bezoek dan een 4DX voorstelling en laat je zintuigen maximaal prikkelen door de bewegende stoelen en speciale omgevingseffecten zoals wind, water en geur. Natuurlijk is het ook gewoon mogelijk om een film in 2D of 3D te bekijken.Bij sommige speciale filmbelevingen kunnen extra kosten in rekening worden gebracht, kijk voor de kosten van een filmbeleving bij de film die u wilt bekijken.</h3> <br><br>
            <h1>Toegankelijkheid</h1>
            <h3>bla bla bla</h3>
        </div>

        <div class="bioscoopinfo">

        </div>
    </div>
</body>