@{
    ViewData["Title"] = "Bioscoop";
    ViewData["currentTab"] = "bioscoop";
}

<body>
    <div class="page-content">
        <div class="slideshow-container">
	        <div class="mySlides fade">
  		        <img src="img/bioscoop image 1.jpg" style="width:100%">
	        </div>

	        <div class="mySlides fade">
  		        <img src="img/Bioscoop image 2.jpg" style="width:100%">
	        </div>

	        <div class="mySlides fade">
  		        <img src="img/Bioscoop image 3.jpg" style="width:100%">
	        </div>
        </div>

        <div class= "stippen">
          <span class="dot"></span> 
          <span class="dot"></span> 
          <span class="dot"></span> 
        </div> <br>

        <div class="bioscooptekst">
            <h1>Cinéma bioscoop</h1>
            <h3>De Cinéma bioscoop is een gezellige bioscoop gelegen in Voorburg. De bioscoop heeft 9 zalen waaronder 2 3D zalen, daarnaast heeft de Cinéma bioscoop een speciale dolby atmos en een 4DX zaal. De bioscoop biedt 1150 comfortabele zitplaatsen. Het filmaanbod is heel breed en ons personeel staat altijd klaar om je te helpen bij het uitkiezen van de geschikte film voor jouw filmuitje. Maak je filmuitje compleet met een hapje en een drankje bij een van de vele restaurants die rondom de bioscoop gevestigd zijn. De bioscoop is met de fiets, het openbaar vervoer of met de auto goed bereikbaar. Parkeren kan voordelig rondom de bioscoop en de tram en bussen stoppen op loopafstand van de bioscoop.</h3> <br><br>
            <h1>Filmbelevingen</h1>
            <h3>De Cinéma bioscoop is op gebied van beeld en geluid uitgerust met de modernste technieken voor de beste filmbeleving. Daarnaast is de bioscoop ook uitgerust met een Dolby Atmos zaal die is voorzien van de best geluidskwaliteit voor de ultieme filmbeleving. Wil je nog een stapje verder gaan? Bezoek dan een 4DX voorstelling en laat je zintuigen maximaal prikkelen door de bewegende stoelen en speciale omgevingseffecten zoals wind, water en geur. Natuurlijk is het ook gewoon mogelijk om een film in 2D of 3D te bekijken.Bij sommige speciale filmbelevingen kunnen extra kosten in rekening worden gebracht, kijk voor de kosten van een filmbeleving bij de film die u wilt bekijken.</h3> <br><br>
            <h1>Toegankelijkheid</h1>
            <h3>Cinéma Bioscoop hecht veel waarde aan toegankelijkheid; film is immers voor iedereen! Om ervoor te zorgen dat ook bezoekers met een auditieve of visuele beperking bij ons kunnen genieten van de mooiste films, werken we samen met de apps Subcatch en Earcatch. In onze bioscoop is het mogelijk om met een rolstoel naar de film te gaan: zalen 1, 2, 3, 4, 8, 9 en 10 zijn rolstoeltoegankelijk. Verder is er een invalidentoilet aanwezig waar voldoende ruimte is om met een rolstoel naar binnen te kunnen. Voor meer informatie en het reserveren van rolstoelplaatsen graag telefonisch contact opnemen met deze bioscoop.</h3> <br><br>
        </div>

        <div class="bioscoopinfo">
            <h1>Openingstijden:</h1>
            <h3>Wij zijn elke dag geopend van <br> 09:00 - 23:00</h3><br>
            <h1>Contact:</h1>
            <h3>Bekijk <a href="/FAQ">hier</a> de meest gestelde vragen</h3><br>
            <h1>Adres:</h1>
            <h3>Cinéma Bioscoop</h3>
            <h3>Aart van der Leeuwkade 14</h3>
            <h3>2274 KX Voorburg</h3>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7595.475944361516!2d4.348411481717209!3d52.06896447683056!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c5b7adcfb86ce5%3A0x2ea8437ebad02fb4!2sSint-Maartenscollege!5e0!3m2!1snl!2snl!4v1645005275058!5m2!1snl!2snl" width="375" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
</body>