@{
    ViewData["Title"] = "Cookies";
}

<body>
    <div class="page-content">
        <div class ="cookies">
            <h1>Ons Cookiestatement</h1>
            <h2>1. Wat zijn cookies?</h2>
            <h3>Cookies zijn kleine tekstbestandjes die bij een bezoek aan onze Website of App op je computer, smartphone of ander apparaat worden opgeslagen. Cookies helpen ons bij het laten functioneren, analyseren en personaliseren van de website. Cookies onthouden gegevens van je vorige bezoek aan de Website of App zodat de site beter werkt en voor jou relevantere informatie toont.</h3>
            <h3>We maken gebruik van zogenaamde first party cookies (eigen cookies) en third-party cookies.</h3>
            <h3>Cinéma Bioscoop maakt ook gebruik van technieken die vergelijkbaar zijn met cookies, zoals web beacons en link-tracking. Web beacons controleren of je een bepaalde webpagina of e-mail gezien hebt. Bij link-tracking worden bepaalde elementen toegevoegd aan een URL, zodat wij je kunnen herkennen als je vanuit onze nieuwsbrief doorklikt naar de Website.</h3>
            <h3>Cookies geven ons geen toegang tot jouw computer, smartphone of andere apparaat en geven ons ook geen toegang tot andere informatie dan waarvoor je toestemming geeft. Wij geven je de keuze om cookies te accepteren of weigeren (met uitzondering van functionele cookies en cookies met geringe gevolgen voor je privacy). Daarnaast kun je ook je web browser instellingen aanpassen om cookies te weigeren. Hierdoor kan het zijn dat onze website niet meer volledig functioneert.</h3>
            <br/><h2>2. Type Cookies</h2>
            <h3>Cinéma Bioscoop maakt gebruik van de volgende type cookies (en vergelijkbare technieken):</h3>
            <h3>- Functionele cookies. Dit zijn cookies die noodzakelijk zijn om de door jou gevraagde diensten te leveren, bijvoorbeeld om ervoor te zorgen dat je niet steeds opnieuw hoeft in te loggen.</h3>
            <h3>- Analytische cookies (first en third-party). Dit zijn bijvoorbeeld cookies (van derde partijen) die het gebruik van de Website en App analyseren en in kaart brengen, zodat de kwaliteit en/of de effectiviteit van de Website en App kunnen verbeteren, en affiliate cookies die bijhouden welke advertentie leidt tot aankoop van een bepaald product, zodat degene die deze advertentie heeft getoond (de affiliate) daarvoor een beloning kan ontvangen van de adverteerder. De statistieken en overige rapportages zijn niet te herleiden naar individuele personen.</h3>
            <h3>Wij meten de statistieken op dit moment met behulp van tools van de volgende partijen:</h3>
            <h3>- Google Analytics</h3>
            <h3>- Tracking cookies (first en third-party). Dit zijn cookies die gebruikt worden om jouw surfgedrag vast te leggen, zodat wij (of derden) je op basis daarvan gericht aanbiedingen kunnen doen en inhoud kunnen tonen die voor jou relevant is. Dit doen wij niet alleen via de Website, maar ook via advertenties die worden getoond. Als tracking cookies niet worden gebruikt, dan betekent dit niet dat je geen advertenties meer te zien krijgt. De advertenties zijn in dat geval alleen niet langer toegesneden op je persoonlijke voorkeuren en interesses.</h3>
            <h3>- Social media plugins. De inhoud die je op onze website bekijkt, kun je door middel van buttons delen via social media. Hiervoor wordt gebruik gemaakt van cookies van de social media partijen, zodat deze jou herkennen op het moment dat jij iets wilt delen.</h3>
            <br/><h2>3. Toestemming</h2>
            <h3>Wanneer je onze Website bezoekt of App installeert, vragen wij toestemming voor het gebruik van cookies door je een duidelijke melding te tonen.</h3>
            <br/><h2>4. Intrekken toestemming / verwijderen cookies</h2>
            <h3>Je kunt je toestemming te allen tijde intrekken door in je browser alle cookies te verwijderen, door op deze pagina de optie 'Nee, ik wil nu alleen minimale cookies' te kiezen en/of de browser zo in te stellen dat deze geen cookies accepteert. Het blokkeren of verwijderen van cookies kan tot gevolg kan hebben dat bepaalde onderdelen van de Website en/of App niet (optimaal) werken. Ook kan het zijn dat bij het verwijderen van alle cookies zogenaamde “do not track” of “opt out” cookies worden verwijderd, waardoor je opnieuw om toestemming wordt gevraagd.</h3>
            <br/><h2>5. Privacy Statement</h2>
            <h3>De door middel van cookies verzamelde of op een andere manier uitgelezen informatie kan persoonsgegevens bevatten, zoals je IP-adres. Indien dit het geval is, is op de verwerking van deze persoonsgegevens ook het Privacy Statement van Cinéma Bioscoop van toepassing.</h3>
            <br/><h2>6. Wijzigingen</h2>
            <h3>Dit Cookie Statement kan worden gewijzigd. Wijzigingen in dit Cookie Statement zullen via deze pagina bekend worden gemaakt.</h3>
            <br/><h2>7. Vragen</h2>
            <h3>Mocht je nog vragen hebben over dit Cookie Statement dan kun je een e-mail sturen aan privacy@Cinémabioscoop.nl.</h3>
        </div>
    </div>
</body>
