@model List<string>
@{
    ViewData["Title"] = "Database";
}

<body>
    <div class="page-content">
        <h1>Alle namen!</h1>
        @foreach(string naam in Model)
        {
            <h3>@naam</h3>
        }
    </div>
</body>