@{
    ViewData["Title"] = "Detail pagina";
}

<div class="page-content">
    <div class="video">
            <iframe width="1320" height="700" src="https://www.youtube.com/embed/vw2FOYjCz38?&autoplay=1&controls=0&mute=1&showinfo=0&loop=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="detaillinks">
        <div class="poster">
            <img src="https://media.pathe.nl/nocropthumb/360x508/gfx_content/PathePartners/movie-24292-NTTD_DIGTAL_1SHEET_ICONIC_TUX_NED-30sept.jpg">
        </div>
        <div class="kijkwijzer">
            <img src="https://www.pathe.nl/assets/img/icons/kijkwijzer/kijkwijzer-12-gray-32.png" style="margin-left: 5px;">
            <img src="https://www.pathe.nl/assets/img/icons/kijkwijzer/kijkwijzer-fear-gray-32.png">
            <img src="https://www.pathe.nl/assets/img/icons/kijkwijzer/kijkwijzer-explicitlanguage-gray-32.png">
            <img src="https://www.pathe.nl/assets/img/icons/kijkwijzer/kijkwijzer-violence-gray-32.png">
        </div>
        <div class="categorie">
            <h3 style="width:40px; padding-left:5px; margin-left:5px; float:left;">Actie</h3>
            <h3 style="width:65px; padding-left:5px; margin-left:5px; float:left;">Avontuur</h3>
        </div>
    </div>
    <div class="detailmidden">
        <h1>No time to die</h1><br>
        <h3>In de 25e James Bond-film No Time to Die heeft James Bond zijn turbulente leven als geheim agent achter zich gelaten en leidt hij een rustig bestaan op Jamaica. Dit wordt abrupt onderbroken wanneer zijn oude vriend en CIA agent Felix Leiter hem vraagt om een ontvoerde wetenschapper te helpen bevrijden. Deze missie blijkt verraderlijker dan gedacht en brengt Bond op het spoor van een mysterieuze schurk die gewapend is met levensgevaarlijke nieuwe technologie. In No Time to Die keert Daniel Craig terug voor zijn vijfde film als Ian Flemings James Bond 007.</h3>
    </div>
    <div class="detailrechts">
        <h1>rechts</h1>
    </div>
</div>