@{
    ViewData["Title"] = "FAQ";
}
<head>
    <title>FAQ</title>
</head>

<body>
    <div class="page-content">
        <h1>FAQ</h1><br />
        <section class="faq-container">
            <div class="faq">
                <h1 class="faq-page">Hoe kan ik mijn tickets anuleren?</h1>
                <div class="faq-body">
                    <h3>Tickets die gekocht zijn via de website kun je gemakkelijk en snel annuleren via jouw Cinéma bioscoop account</h3>
                </div>
            </div>
            <div class="faq">
                <h1 class="faq-page">Hoe gaat de Cinéma bioscoop om met kijkwijzer 16+ en 18+ ?</h1>
                <div class="faq-body">
                    <h3>De Cinéma bioscoop houdt zich strikt aan de wet op de leeftijdskeuring van 16 jaar & 18 jaar, hierop worden nooit uitzonderingen gemaakt. Bij films gekeurd voor 16 jaar en ouder & 18 jaar en ouder wordt er bij twijfel naar legitimatie gevraagd.Indien de bezoeker jonger dan de aangegeven Kijkwijzer is en/of geen legitimatie kan tonen, wordt de toegang geweigerd. Ook onder begeleiding van een ouder die wel aan de leeftijdskeuring voldoet is het niet mogelijk een voorstelling met een 16+ of 18+ keuring te bezoeken.</h3>
                </div>
            </div>
            <div class="faq">
                <h1 class="faq-page">Hoe boek ik een rolstoelplek?</h1>
                <div class="faq-body">
                    <h3>Alle zalen hebben rolstoel toegankelijke plaatsen. Rolstoelplaatsen zijn te boeken via de website, op de plek met het rolstoel-icoon staat géén stoel.</h3>
                </div>
            </div>
            <div class="faq">
                <h1 class="faq-page">Kan ik mijn bioscoopbon inleveren bij de Cinéma bioscoop?</h1>
                <div class="faq-body">
                    <h3>Ja, je kunt een nationale bioscoopbon inleveren bij de Cinéma bioscoop. Verzilver je kaart bij de betaalpagina van de filmtickets</h3>
                </div>
            </div>
            <div class="faq">
                <h1 class="faq-page">Hoe bestel ik tickets?</h1>
                <div class="faq-body">
                    <h3>Als je tickets wilt bestellen voor een film ga je gemakkelijk naar de pagina van de film die je wilt bezoeken. Recht bovenin staat dan de knop 'tickets bestellen' volg de stappen en geniet van je film!</h3>
                </div>
            </div>
            <div class="faq">
                <h1 class="faq-page">Kan ik een eigen zaal huren?</h1>
                <div class="faq-body">
                    <h3> Bent u op zoek naar een zaal op een unieke locatie? Onze mooie foyers en zalen met innovatieve beeld & geluidssystemen dragen bij tot een perfect evenement. Bent u op zoek naar een kleine fijne zaal of een mooie zaal voor grote groepen. Bij Vue kan het allemaal en door de ‘’Stadium Seating’’ van onze heerlijk comfortabele stoelen heeft iedereen in de zaal altijd goed zicht op het scherm. Een hapje of drankje vooraf, tussendoor of achteraf? In een van onze prachtige foyers is het mogelijk om gezellig na te praten over de dag.  Al vanaf €295,- zijn de zalen beschikbaar.De locaties zijn perfect voor: Presentaties, Workshops, Seminars, Productlanceringen, Conferenties. Geïnteresseerd? Om u zo efficiënt mogelijk te helpen vragen wij u in uw mail zo veel mogelijk informatie te vermelden. Graag horen wij van u de gewenste locatie, datum , dagdeel en aantal verwachte personen. Nadat wij uw mail hebben ontvangen nemen wij zo snel mogelijk contact met u op.  Samen zullen we er voor zorgen dat alles geregeld wordt. Liever direct contact? Bel 020-2194200. Wij horen graag van u.</h3>
                </div>
            </div>
            <div class="faq">
                <h1 class="faq-page">Kan ik een specifieke film aanvragen?</h1>
                <div class="faq-body">
                    <h3>Nee, in principe kunt u geen specifieke film aanvragen. Bij Cinéma bioscoop draaien wij altijd het meest actuele filmaanbod met regelmatig leuke events. Wel kunt u een zaal huren om daar uw eigen film te draaien, zie hiervoor: 'kan ik een eigen zaal huren?'</h3>
                </div>
            </div>
        </section><br />
        <h3>Staat het antwoord op uw vraag hier niet tussen of heeft u een andere vraag, <br />neem dan gerust contact met ons op via het contact formulier op de <a href="/contact">contact pagina</a>. </h3>

    </div><br />

<script>
var faq = document.getElementsByClassName("faq-page");
var i;
for (i = 0; i < faq.length; i++) {
    faq[i].addEventListener("click", function () {
        this.classList.toggle("active");
        var body = this.nextElementSibling;
        if (body.style.display === "block") {
            body.style.display = "none";
        } else {
            body.style.display = "block";
        }
    });
}
    </script>




        <!--
        <section class="faq-container">
            <div class="faq-one">
                <h1 class="faq-page">Vraag 1</h1>
                <div class="faq-body">
                    <p>antwoord 1</p>
                </div>
            </div>

            <div class="faq-two">
                <h1 class="faq-page">Vraag 2</h1>
                <div class="faq-body">
                    <p>Antwoord 2</p>
                </div>
            </div>

            <div class="faq-three">
                <h1 class="faq-page">Vraag 3</h1>
                <div class="faq-body">
                    <p>Antwoord 3</p>
                </div>
            </div>

        </section>
    </div>

    <script>
        var faq = document.getElementsByClassName("FAQ");
                var i;
                for (i = 0; i< faq.length; i++) {
                    faq[i].addEventListener("click", function () {
                        this.classList.toggle("active");
                        var body = this.nextElementSibling;
                        if (body.style.display === "block") {
                            body.style.display = "none";
                        } else {
                            body.style.display = "block";
                        }
                    });
                }
    </script> -->
</body>
