@{
    ViewData["Title"] = "Filmagenda";
    ViewData["currentTab"] = "filmagenda";
}

<body>
    <div class="page-content">
        <H1>Filmagenda</H1> <br>
        <div class="filmagenda">
            <div class="filmagendafilm"> <img src="https://pbs.twimg.com/media/FFFNP6bXEAMNItG?format=jpg&name=4096x4096"> </div>
                <div class="informatiefilm">
                    <h3>Film naam</h3>
                    <div class="filmtijden">
                        <div class="tijdversie">
                            <h3>tijd</h3>
                            <h3>versie</h3>
                        </div>
                        <div class="tijdversie">
                            <h3>tijd</h3>
                            <h3>versie</h3>
                        </div>
                        <div class="tijdversie">
                            <h3>tijd</h3>
                            <h3>versie</h3>
                        </div>
                    </div>
                </div>
        </div>

        <div class="filmagenda">
            <div class="filmagendafilm"> <img src="https://pbs.twimg.com/media/FFFNP6bXEAMNItG?format=jpg&name=4096x4096"> </div>
                <div class="informatiefilm">
                    <h3>Film naam</h3>
                    <div class="filmtijden">
                        <div class="tijdversie">
                            <h3>tijd</h3>
                            <h3>versie</h3>
                        </div>
                    </div>
                </div>
        </div>

        <div class="filmagenda">
            <div class="filmagendafilm"> <img src="https://pbs.twimg.com/media/FFFNP6bXEAMNItG?format=jpg&name=4096x4096"> </div>
                <div class="informatiefilm">
                    <h3>Film naam</h3>
                    <div class="filmtijden">
                        <div class="tijdversie">
                            <h3>tijd</h3>
                            <h3>versie</h3>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</body>