@{
    ViewData["Title"] = "Films";
     ViewData["currentTab"] = "films";
}
<h1>@ViewData["Title"]</h1>

<body>
<div class="page-content">
<p>Hier komen alle films te staan!</p>
          <img src="https://pbs.twimg.com/media/FFFNP6bXEAMNItG?format=jpg&name=4096x4096" class="films" style="width:20%">
          <img src="https://pbs.twimg.com/media/FFFNP6bXEAMNItG?format=jpg&name=4096x4096" class="films" style="width:20%">
          <img src="https://pbs.twimg.com/media/FFFNP6bXEAMNItG?format=jpg&name=4096x4096" class="films" style="width:20%">
          <img src="https://pbs.twimg.com/media/FFFNP6bXEAMNItG?format=jpg&name=4096x4096" class="films" style="width:20%">
          <img src="https://pbs.twimg.com/media/FFFNP6bXEAMNItG?format=jpg&name=4096x4096" class="films" style="width:20%">
          <img src="https://pbs.twimg.com/media/FFFNP6bXEAMNItG?format=jpg&name=4096x4096" class="films" style="width:20%">
          <img src="https://pbs.twimg.com/media/FFFNP6bXEAMNItG?format=jpg&name=4096x4096" class="films" style="width:20%">
          <img src="https://pbs.twimg.com/media/FFFNP6bXEAMNItG?format=jpg&name=4096x4096" class="films" style="width:20%">
          <img src="https://pbs.twimg.com/media/FFFNP6bXEAMNItG?format=jpg&name=4096x4096" class="films" style="width:20%">
          <img src="https://pbs.twimg.com/media/FFFNP6bXEAMNItG?format=jpg&name=4096x4096" class="films" style="width:20%">
          <img src="https://pbs.twimg.com/media/FFFNP6bXEAMNItG?format=jpg&name=4096x4096" class="films" style="width:20%">
          <img src="https://pbs.twimg.com/media/FFFNP6bXEAMNItG?format=jpg&name=4096x4096" class="films" style="width:20%">
</div>
</body>
