@{
    ViewData["Title"] = "Home Page";
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>replit</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <div class="header"> 
      <img src="Images/logo.png" class= "logo" >
      <a href="#" class= "Tekst">Cinéma Bioscoop</a>
      <ul class="menu">
        <li><a href= "index.html" class="active">Home</a></li>
        <li><a href= "#">Films</a></li>
        <li><a href= "#">Filmagenda</a></li>
        <li><a href= "#">Bioscoop</a></li>
        <!-- <li>
          <div class="container">
		      <input type="text" name="search" placeholder="Search..." class="input" />
          <a href="#" class="btn">
          <i class="fas fa-search"></i>
          </a>
          </div>
        </li> -->
        
      </ul>
    </div>
    <div class="page-content">
      <img src="Images/info.jpg" class="info"></br></br>
      <H1>Uitgelichte films:</H1>
      <img src="https://about.canva.com/wp-content/uploads/sites/8/2019/03/red.png" class="uitgelicht">
      <img src="https://about.canva.com/wp-content/uploads/sites/8/2019/03/yellow.png" class="uitgelicht">
      <img src="https://about.canva.com/wp-content/uploads/sites/8/2019/03/blue.png" class="uitgelicht"></br></br>
      <H1>Films:</H1>
      <img src="https://pbs.twimg.com/media/FFFNP6bXEAMNItG?format=jpg&name=4096x4096" class="films">
      <img src="https://pbs.twimg.com/media/FFFNP6bXEAMNItG?format=jpg&name=4096x4096" class="films">
      <img src="https://pbs.twimg.com/media/FFFNP6bXEAMNItG?format=jpg&name=4096x4096" class="films">
      <img src="https://pbs.twimg.com/media/FFFNP6bXEAMNItG?format=jpg&name=4096x4096" class="films">
      <img src="https://pbs.twimg.com/media/FFFNP6bXEAMNItG?format=jpg&name=4096x4096" class="films">
    </div>  
    
    <script src="script.js"></script>
  </body>
