@{
    ViewData["Title"] = "Home Page";
    ViewData["currentTab"] = "home";
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>replit</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="css/flickity.css" />
</head>

  <body>
    <div class="page-content">
       
        <div class="slideshow-container">
	        <div class="mySlides fade">
  		        <img src="https://www.vuecinemas.nl/userfiles/1.WEBSITE2022/02.%20CARROUSEL/Mobile_web_banner_NIEUWE_Maatregelen_Covid_Update_25-01-2022.jpg" style="width:100%">
	        </div>

	        <div class="mySlides fade">
  		        <img src="https://www.vuecinemas.nl/userfiles/1.WEBSITE2022/02.%20CARROUSEL/Mobile_web_banner_We_Zijn_Open_en_Filmtitels_Update_25-01-2022.jpg" style="width:100%">
	        </div>

	        <div class="mySlides fade">
  		        <img src="https://www.vuecinemas.nl/userfiles/1.WEBSITE2022/02.%20CARROUSEL/Mobile_web_banner_Vue_Anime_Sword_Art_Online.jpg" style="width:100%">
	        </div>
        </div>

        <div class= "stippen">
          <span class="dot"></span> 
          <span class="dot"></span> 
          <span class="dot"></span> 
        </div> <br>

      <H1>Uitgelichte films:</H1>
      <a href="/detailpagina">
        <img src="https://image.tmdb.org/t/p/original/2NdMA6PbFMJEP5DmadfGPMECeQc.jpg" class="uitgelicht"></a>
      <a href="/detailpagina">
        <img src="https://i.ytimg.com/vi/K0eiVAJjB6o/maxresdefault.jpg" class="uitgelicht"></a>
      <a href="/detailpagina">
        <img src="https://www.metaflix.com/wp-content/uploads/2021/07/House-of-gucci-Character-Posters.jpg" class="uitgelicht"></a></br></br>

      <H1>Films:</H1>
        <div class="gallery js-flickity" data-flickity-options='{ "cellAlign": "left", "contain": true , "wrapAround": true, "pageDots": false}'>
		    <div class="gallery-cell"><img src="https://www.vuecinemas.nl/thumb?w=268&f=jpg&src=userfiles/image/movies/2039632_144828.jpg&alt=img/movie_placeholder.png" class="films"></div>
            <div class="gallery-cell"><img src="https://www.vuecinemas.nl/thumb?w=268&f=jpg&src=userfiles/image/movies/40044180_143762.jpg&alt=img/movie_placeholder.png" class="films"></div>
            <div class="gallery-cell"><img src="https://www.vuecinemas.nl/thumb?w=268&f=jpg&src=userfiles/Monster-Family-2_ps_1_jpg_sd-low_Copyright-2021-WW-Entertainment.jpg&alt=img/movie_placeholder.png" class="films"></div>
            <div class="gallery-cell"><img src="https://www.vuecinemas.nl/thumb?w=268&f=jpg&src=userfiles/image/movies/2039585_141925.jpg&alt=img/movie_placeholder.png" class="films"></div>
            <div class="gallery-cell"><img src="https://www.vuecinemas.nl/thumb?w=268&f=jpg&src=userfiles/image/movies/40042198_141950.jpg&alt=img/movie_placeholder.png" class="films"></div>
            <div class="gallery-cell"><img src="https://www.vuecinemas.nl/thumb?w=268&f=jpg&src=userfiles/image/movies/02039083_135092.jpg&alt=img/movie_placeholder.png" class="films"></div>
            <div class="gallery-cell"><img src="https://www.vuecinemas.nl/thumb?w=268&f=jpg&src=userfiles/The-Matrix-Resurrections_ps_1_jpg_sd-low_Copyright-2021-Warner-Bros-Entertainment-Inc-All-Rights-Reserved.jpg&alt=img/movie_placeholder.png" class="films"></div>
            <div class="gallery-cell"><img src="https://www.vuecinemas.nl/thumb?w=268&f=jpg&src=userfiles/image/movies/02030988_145486.jpg&alt=img/movie_placeholder.png" class="films"></div>
            <div class="gallery-cell"><img src="https://www.vuecinemas.nl/thumb?w=268&f=jpg&src=userfiles/image/movies/15002150_143066.jpg&alt=img/movie_placeholder.png" class="films"></div>
            <div class="gallery-cell"><img src="https://www.vuecinemas.nl/thumb?w=268&f=jpg&src=userfiles/image/movies/02038783_145504.jpg&alt=img/movie_placeholder.png" class="films"></div>
            <div class="gallery-cell"><img src="https://www.vuecinemas.nl/thumb?w=268&f=jpg&src=userfiles/1.WEBSITE2022/05.%20FILMPOSTERS/Death-on-the-Nile_ps_1_jpg_sd-low_Copyright-The-Walt-Disney-Company-2020.jpg&alt=img/movie_placeholder.png" class="films"></div>
            <div class="gallery-cell"><img src="https://www.vuecinemas.nl/thumb?w=268&f=jpg&src=userfiles/image/movies/44990125_145860.jpg&alt=img/movie_placeholder.png" class="films"></div>
            <div class="gallery-cell"><img src="https://www.vuecinemas.nl/thumb?w=268&f=jpg&src=userfiles/image/movies/93010126_146014.jpg&alt=img/movie_placeholder.png" class="films"></div>
        </div><br><br>

    <H1>Kinderen:</H1>
        <div class="gallery js-flickity" data-flickity-options='{ "cellAlign": "left", "contain": true , "wrapAround": true, "pageDots": false}'>
            <div class="gallery-cell"><img src="https://www.vuecinemas.nl/thumb?w=268&f=jpg&src=userfiles/Monster-Family-2_ps_1_jpg_sd-low_Copyright-2021-WW-Entertainment.jpg&alt=img/movie_placeholder.png" class="films"></div>
            <div class="gallery-cell"><img src="https://www.vuecinemas.nl/thumb?w=268&f=jpg&src=userfiles/image/movies/40042198_141950.jpg&alt=img/movie_placeholder.png" class="films"></div>
            <div class="gallery-cell"><img src="https://www.vuecinemas.nl/thumb?w=268&f=jpg&src=userfiles/image/movies/02038783_145504.jpg&alt=img/movie_placeholder.png" class="films"></div>
            <div class="gallery-cell"><img src="https://www.vuecinemas.nl/thumb?w=268&f=jpg&src=userfiles/image/movies/60082529_139880.jpg&alt=img/movie_placeholder.png" class="films"></div>
            <div class="gallery-cell"><img src="https://www.vuecinemas.nl/thumb?w=268&f=jpg&src=userfiles/image/movies/84000112_137870.jpg&alt=img/movie_placeholder.png" class="films"></div>
            <div class="gallery-cell"><img src="https://pbs.twimg.com/media/FFFNP6bXEAMNItG?format=jpg&name=4096x4096" class="films"></div>
            <div class="gallery-cell"><img src="https://pbs.twimg.com/media/FFFNP6bXEAMNItG?format=jpg&name=4096x4096" class="films"></div>
            <div class="gallery-cell"><img src="https://pbs.twimg.com/media/FFFNP6bXEAMNItG?format=jpg&name=4096x4096" class="films"></div>
            <div class="gallery-cell"><img src="https://pbs.twimg.com/media/FFFNP6bXEAMNItG?format=jpg&name=4096x4096" class="films"></div>
            <div class="gallery-cell"><img src="https://www.vuecinemas.nl/thumb?w=268&f=jpg&src=userfiles/image/movies/93010126_146014.jpg&alt=img/movie_placeholder.png" class="films"></div>
        </div><br><br>

    <H1>Verwacht:</H1>
        <div class="gallery js-flickity" data-flickity-options='{ "cellAlign": "left", "contain": true , "wrapAround": true, "pageDots": false}'>
		    <div class="gallery-cell"><img src="https://pbs.twimg.com/media/FFFNP6bXEAMNItG?format=jpg&name=4096x4096" class="films"></div>
            <div class="gallery-cell"><img src="https://pbs.twimg.com/media/FFFNP6bXEAMNItG?format=jpg&name=4096x4096" class="films"></div>
            <div class="gallery-cell"><img src="https://pbs.twimg.com/media/FFFNP6bXEAMNItG?format=jpg&name=4096x4096" class="films"></div>
            <div class="gallery-cell"><img src="https://pbs.twimg.com/media/FFFNP6bXEAMNItG?format=jpg&name=4096x4096" class="films"></div>
            <div class="gallery-cell"><img src="https://pbs.twimg.com/media/FFFNP6bXEAMNItG?format=jpg&name=4096x4096" class="films"></div>
            <div class="gallery-cell"><img src="https://pbs.twimg.com/media/FFFNP6bXEAMNItG?format=jpg&name=4096x4096" class="films"></div>
            <div class="gallery-cell"><img src="https://pbs.twimg.com/media/FFFNP6bXEAMNItG?format=jpg&name=4096x4096" class="films"></div>
            <div class="gallery-cell"><img src="https://pbs.twimg.com/media/FFFNP6bXEAMNItG?format=jpg&name=4096x4096" class="films"></div>
            <div class="gallery-cell"><img src="https://pbs.twimg.com/media/FFFNP6bXEAMNItG?format=jpg&name=4096x4096" class="films"></div>
            <div class="gallery-cell"><img src="https://pbs.twimg.com/media/FFFNP6bXEAMNItG?format=jpg&name=4096x4096" class="films"></div>
        </div><br><br>

    </div>  
    
    <script src="script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flickity/1.0.0/flickity.pkgd.js"></script>
  </body>
