@{
    ViewData["Title"] = "Home Page";
    ViewData["currentTab"] = "home";
}

<div class="page-content">
    <div class="PageNotFound">
    <div class="pnf-left">
        <h1>Pagina niet gevonden</h1>
        <h3>De pagina die je zoekt, kan helaas niet worden gevonden. Het kan zijn dat de pagina niet meer bestaat of dat het gebruikte adres spelfouten bevat.</h3>
    </div>
    <div class="pnf-right">
        <img src="/img/PageNotFound.jpg">
    </div>
    </div>
</div>