@{
    ViewData["Title"] = "Privacy Policy";
}

<body>
    <div class="page-content">
        <h1>Privacy</h1>
        <h3>Wij denken absoluut niet over uw privacy, veel succes ermee!</h3><br /><br />
    </div>
</body>
