@{
    ViewData["Title"] = "Privacy";
}

<body>
    <div class="page-content">
        <div class="privacy">
            <h1>Privacystatement Cinéma Bioscoop</h1><br />
            <h3>Inhoud</h3>
            <ul>
                <li>1 Algemeen</li>
                    <ul>
                        <li>1.1 Over Cinéma Bioscoop</li>
                        <li>1.2 Principes voor gegevensbescherming</li>
                        <li>1.3 Contactgegevens Cinéma Bioscoop</li>
                        <li>1.4 Disclaimer aanpassingen tekst</li>
                    </ul>
                <li>2 Wat doet Cinéma Bioscoop met jouw persoonsgegevens?</li>
                    <ul>
                        <li>2.1 In de bioscoop</li>
                        <li>2.2 Online (website en app)</li>
                        <li>2.3 Overig</li>
                    </ul>
                <li>3 Jouw rechten</li>
            </ul><br /><br />

            <h2>1 Algemeen</h2>
            <h2>1.1 Over Cinéma Bioscoop</h2>
            <h3>Cinéma Bioscoop BV (Cinéma Bioscoop) is onderdeel van Cinéma Bioscoop International, de grootste bioscoopgroep buiten de Verenigde Staten en een van de belangrijkste spelers in de markt op het gebied van big screen entertainment. Cinéma Bioscoop heeft in Nederland 21 bioscopen in 20 steden. Het is de missie van Cinéma Bioscoop om de beste keuze in content te leveren gecombineerd met de beste technologie in de beste omgeving.</h3> <br />
            
            <h2>1.2 Principes voor gegevensbescherming</h2>
            <h3>Dit privacy statement geldt voor het gebruik van persoonsgegevens in relatie tot onze website www.Cinéma Bioscoop.nl, de Cinéma Bioscoop App en in onze bioscopen. Om gebruik te maken van deze diensten en producten hebben we een aantal gegevens van je nodig. Cinéma Bioscoop gaat zorgvuldig om met persoonsgegevens omdat jouw privacy belangrijk is voor ons. Jouw persoonsgegevens worden alleen verwerkt als dit nodig is voor het bereiken van de doeleinden zoals in dit privacystatement staan beschreven. We willen zo transparant en duidelijk mogelijk zijn over hoe Cinéma Bioscoop omgaat met jouw gegevens. Daarom laten we in dit privacystatement zien waarvoor we jouw gegevens gebruiken en welke rechten jij hebt.</h3><br />
            
            <h2>1.3 Contactgegevens Cinéma Bioscoop</h2>
            <h3>Verantwoordelijk voor het gebruik van jouw persoonsgegevens is Cinéma Bioscoop BV (Cinéma Bioscoop) met adres Danzigerkade 2D, 1013 AP Amsterdam. Als je vragen of opmerkingen hebt, neem dan contact op ons op via dit adres of via avghelpdesk@Cinéma Bioscoop.nl.</h3><br />
            
            <h3>1.4 Disclaimer aanpassingen tekst</h3>
            <h3>De tekst van deze privacystatement kan worden aangepast. Deze versie is op 25-11-2019 voor het laatst herzien. Om op de hoogte te blijven van onze activiteiten adviseren wij je om regelmatig dit privacystatement te raadplegen.</h3><br />
            
            <h2>2 Wat doet Cinéma Bioscoop met jouw persoonsgegevens?</h2>
            <h2>2.1 In de bioscoop</h2>
            <h3>2.1.1 Tickets, toegang, eten en drinken</h3>
            <h3>Je kunt bij onze bioscopen aan de kassa een filmkaartje kopen en wat lekkers halen voor tijdens de film. Soms vragen we je om een legitimatiebewijs te tonen. Dit moeten wij controleren in verband met: * de kijkwijzer van films voor 16 jaar en ouder; * het bestellen van alcohol aan de bar. Hier geldt een minimale wettelijke leeftijd van 18 jaar; * het toekennen van bepaalde kortingen zoals met een CJP-pas, 65+ en een studentenpas; * het gebruik van een Cinéma Bioscoop Movie Pass voor toegang tot een film. We controleren dit omdat wij daar een wettelijke plicht toe hebben, om te controleren of je recht hebt op een kortingskaartje of om te controleren dat je de daadwerkelijke houder bent van de getoonde Movie Pass. Van het legitimatiebewijs wordt nooit een kopie gemaakt. Als je een aankoop afrekent met een pinpas of een creditcard slaan we enkel gegevens op die niet naar jou zijn te herleiden. Deze gegevens worden gebruikt om de betaling af te handelen.</h3><br />
            
            <h2>2.1.2 Camera’s en incidentele opnames</h2>
            <h3>Er hangen beveiligingscamera’s in onze bioscopen zodat we hiermee de veiligheid van ons personeel kunnen waarborgen en om fraude en diefstal te voorkomen. Deze beelden bewaren we maximaal 4 weken. Bij incidenten geven wij de beelden vrij aan Politie en Justitie.Bij evenementen en premières is het mogelijk dat er cameraploegen van Cinéma Bioscoop of derden opnamen maken. Als bezoeker van een bioscoop kun je mogelijk in beeld komen of benaderd worden voor een interview. De opnames gebruiken wij voor promotie en marketingdoeleinden.</h3><br />

            <h2>2.2 Online (website en app)</h2>
            <h3>Onze website www.Cinéma Bioscoop.nl en de Cinéma Bioscoop App worden namens Cinéma Bioscoop gefaciliteerd door een externe website/appontwikkelaar. Alle gegevens van de website worden opgeslagen bij een externe serveraanbieder.</h3><br />

            <h2>2.2.1 Cookies</h2>
            <h3>Een cookie is een klein tekstbestand dat tijdens jouw bezoek aan een website op jouw computer, tablet of smartphone wordt geplaatst. In dit tekstbestand wordt informatie opgeslagen. Sommige cookies zijn noodzakelijk voor het functioneren van de website. Dit zijn de functionele cookies. Ook zijn er cookies die gebruikt worden om de kwaliteit van de website te analyseren en te verbeteren. Dit zijn analytische cookies. Daarnaast zijn er cookies die handig zijn voor jou omdat ze jou herkennen als je de website weer bezoekt en ze onthouden bijvoorbeeld voorkeuren (voorkeursbioscoop) waardoor je het niet steeds opnieuw hoeft aan te geven. Deze cookies dragen bij tot een verhoogd gebruikersgemak voor jou als bezoeker. Zie onze cookiestatement voor meer informatie over de cookies die (kunnen) worden geplaatst via onze website.</h3><br />

            <h2>2.2.2 E-Ticket</h2>
            <h3>Je kunt online een e-ticket kopen voor de film. Dit kan je doen op twee verschillende manieren. Door middel van een registratie, dit kan via Facebook of ná registratie van een e-mailadres en wachtwoord. Of door een gastaccount aan te maken. Voor een gastaccount is alleen een e-mailadres nodig om het e-ticket te kunnen mailen. Let op, zonder Mijn Cinéma Bioscoop account kan je jouw e-tickets niet meer inzien op onze website en zal deze alleen eenmalig naar jou gemaild worden (deze kan in je SPAM terecht komen). De betaling van jouw aankoop wordt afgehandeld door een externe betaaldienstaanbieder: Buckaroo. Voor meer informatie hoe Buckaroo met jouw persoonsgegevens omgaat, zie hier het privacystatement: www.buckaroo.nl/privacyverklaring.</h3><br />

            <h2>2.2.3 Cinéma Bioscoop Movie Pass</h2>
            <h3>Voor het afnemen van een Cinéma Bioscoop Movie Pass abonnement heb je een Mijn Cinéma Bioscoop-account nodig. De Cinéma Bioscoop Movie Pass is altijd persoonsgebonden. Bij de aanvraag van de pas vragen we je daarom om enkele identificerende gegevens. Die gegevens worden gebruikt om de digitale pas in je Mijn Cinéma Bioscoop-account te zetten.Je moet minstens 18 jaar zijn om een abonnement voor de Cinéma Bioscoop Movie Pass af te sluiten. Ben je jonger dan 18 jaar, dan vragen we of jouw ouders/voogd akkoord zijn gegaan met het afsluiten van het abonnement. De klantenservice en betalingen worden door een externe partij gedaan.Na het beëindigen van een abonnement worden jouw gegevens bewaard zo lang als dat nodig is voor onze werkzaamheden.</h3><br />

            <h2>2.2.4 Mijn Cinéma Bioscoop account</h2>
            <h3>Je kunt een persoonlijke Mijn Cinéma Bioscoop account aanmaken voor het kopen van een e-ticket of omdat je een Cinéma Bioscoop Movie Pass wilt aanvragen. Voor een Mijn Cinéma Bioscoop Account moet je minstens 16 jaar zijn. Ben je jonger dan 16 jaar, dan vragen we of jouw ouders/voogd akkoord zijn gegaan met het aanmaken van een account. In jouw account kun je o.a. jouw watchlist bekijken, jouw ticket historie en tickets voor toekomstige films zien. Ook kun je verschillende voorkeuren opslaan voor de nieuwsbrief. Als je een account aanmaakt via jouw Facebook account, dan krijgt Cinéma Bioscoop toegang tot jouw openbare Facebook Gegevens zoals je dat zelf hebt ingesteld op Facebook. Denk aan je naam, e-mailadres, geslacht, geboortedatum, profielfoto en je Facebook ID. Cinéma Bioscoop heeft geen invloed op de gegevensverzameling door Facebook. Wij raden je daarom aan om voordat je gebruik maakt van deze optie het privacy statement van Facebook te lezen. We bewaren jouw accountgegevens zolang je een Cinéma Bioscoop account hebt. Jij kunt gegevens in jouw account elk moment wijzigen of verwijderen. Dit kan door in te loggen op jouw Mijn Cinéma Bioscoop account. Onder jouw profiel kun je een rapportage downloaden van de persoonsgegevens die wij van jou hebben. Tevens kan je een verzoek sturen om jouw account te laten verwijderen. Dit verwijderverzoek wordt binnen 30 dagen afgehandeld. Soms zullen we enkele gegevens nog moeten bewaren in verband met (wettelijke) plichten, zoals boekhoudkundige bewaarplichten die Cinéma Bioscoop heeft.</h3><br />

            <h2>2.2.5 Nieuwsbrief</h2>
            <h3>We willen je op de hoogte houden van interessante nieuwtjes, zoals over films, evenementen, prijsvragen/winacties, aanbiedingen, enz. Dit doen wij o.a. via onze nieuwsbrief. Deze ontvang je als je hebt aangegeven deze te willen ontvangen in je Mijn Cinéma Bioscoop account of ná inschrijving voor de nieuwsbrief via onze website. De nieuwsbrief kan door iedereen worden aangevraagd met een Mijn Cinéma Bioscoop Account. De inhoud van de nieuwsbrief kan op jouw voorkeuren worden afgestemd. Deze voorkeuren beheer je zelf in jouw Mijn Cinéma Bioscoop account. Uitschrijven van de nieuwsbrief kan door ook via jouw Mijn Cinéma Bioscoop Account.</h3><br />

            <h2>2.2.6 Onderzoek</h2>
            <h3>Jouwe e-mailadres kunnen wij gebruiken om je te benaderen voor deelname aan consumentenonderzoeken ter verbetering van onze dienstverlening online en in de bioscoop. Deze onderzoeken worden uitgevoerd door Cinéma Bioscoop of andere partijen.</h3><br />
            
            <h2>2.3 Overig</h2>
            <h2>2.3.1 Sollicitanten</h2>
            <h3>Solliciteren kan via vacatures op de website. Jouw sollicitatiegegevens worden uiterlijk 4 weken verwijderd na afloop van het sollicitatieproces. Tijdens het sollicitatieproces kun je altijd aangeven niet meer in aanmerking te willen komen voor een bepaalde vacature. We zullen jouw sollicitatiegegevens dan op aanvraag verwijderen.</h3><br />

            <h2>2.3.2 Prijsvragen en acties</h2>
            <h3>Via verschillende kanalen kun je op eigen initiatief meedoen aan prijsvragen en acties. De persoonsgegevens die hierbij worden verwerkt zijn nodig om je op de hoogte te houden over de uitslag en om prijzen uit te kunnen keren als je een prijs hebt gewonnen. Jouw gegevens worden alleen met anderen gedeeld als dit nodig is voor de uitvoering van de prijsvraag/actie.</h3><br />

            <h2>2.3.3 Zakelijke communicatie</h2>
            <h3>Via ons contactformulier kun je ons benaderen voor bijvoorbeeld het huren van een zaal of voor het organiseren van een evenement. Deze gegevens zullen we gebruiken voor het afhandelen van uw aanvraag en voor het onderhouden van zakelijk relatiebeheer.</h3><br />

            <h2>2.3.4 Klantenservice</h2>
            <h3>Als je contact met ons opneemt omdat je iets hebt op te merken, een vraag of een klacht hebt, dan komt het terecht bij de Cinéma Bioscoop klantenservice. De communicatie die hierbij wordt gevoerd, wordt maximaal 1 jaar bewaard. Voor de Cinéma Bioscoop Movie Pass is een externe partij betrokken bij het afhandelen van vragen en klachten. We hebben, voor het in behandeling nemen van je vraag, klacht of opmerking in ieder geval jouw naam en e-mailadres nodig. Optioneel kun je ook jouw telefoonnummer doorgeven.</h3><br />

            <h2>2.3.5 Overig</h2>
            <h3>Cinéma Bioscoop heeft te maken met wettelijke plichten, waardoor we jouw persoonsgegevens moeten bewaren. Denk hierbij aan belastingtechnische of boekhoudkundige plichten. Ook hierbij gaan we zorgvuldig om met jouw persoonsgegevens en worden gegevens verwijderd zodra we geen (wettelijke) plicht meer hebben om jouw gegevens te bewaren.</h3><br />

            <h2>3. Jouw rechten</h2>
            <h3>Jij bent zelf de baas over jouw persoonsgegevens. Je hebt recht op inzage, aanpassing en verwijdering van jouw persoonsgegevens. Ook heb je het recht de verwerking van jouw gegevens te beperken en heb je recht op overdraagbaarheid van jouw gegevens. Als je een Mijn Cinéma Bioscoop account hebt, lees dan verder. Heb je geen Mijn Cinéma Bioscoop account maar beschikken wij om andere redenen over jouw persoonsgegevens, dan kun je je een verzoek om jouw recht uit te oefenen mailen naar avghelpdesk@CinémaBioscoop.nl. Mijn Cinéma Bioscoop account Inzage en aanpassing is mogelijk door in te loggen op jouw MijnCinéma Bioscoop account. In ‘profiel’ zie je welke gegevens wij van jou hebben en kun je wijzigingen toepassen. Ook kun je een PDF downloaden met jouw gegevens (=Rapportage persoonsgegevens). Via ‘profiel’ kun je ons ook een verwijderverzoek sturen. Binnen 30 werkdagen zal jouw MijnCinéma Bioscoop Account verwijderd worden tenzij dit niet mogelijk is vanwege wettelijke en fiscale verplichtingen. Ook is het verwijderen van een MijnCinéma Bioscoop Account alleen mogelijk als er geen actieve Movie Pass aan gekoppeld is. Je ontvangt bericht van ons zodra dit gedaan is. Ben je niet tevreden over hoe wij omgaan met jouw gegevens dan kun je ook contact met ons opnemen via de klantenservice. Daarnaast heb je het recht een klacht in te dienen bij een toezichthoudende autoriteit zoals de Autoriteit Persoonsgegevens.</h3>

        </div>
    </div>
</body>
