@using CinemaBioscoop.Database
@model Product
@{
    ViewData["Title"] = Model.Naam;
}
<div class = "page-content">
    <h1>Hallo met de detail pagina!</h1><br />
    <h1>@Model.Naam</h1>
    <h3>@Model.Prijs</h3>
</div>