@using ReadDatabase.Database
@model Product
@{
    ViewData["Title"] = Model.Naam;
}

<h1>Hallo met de detail pagina!</h1>
<div class = "page-content">
    <h1>@Model.Naam</h1>
    <p>@Model.Prijs</p>
</div>