@{
    ViewData["Title"] = "Succes";
}

<body>
    <div class="page-content">
        <h1>Bedankt voor uw bericht!</h1>
        <h3>Wij proberen zo snel mogelijk op uw bericht te antwoorden.</h3><br /><br />
        <img src="/img/succes.png" style="width:50%">
    </div>
</body>