<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://kit.fontawesome.com/eeea9a17b1.js" crossorigin="anonymous"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CinemaBioscoop</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header> 
      <img src="img/logo.png" class= "logo" >
      <a href="/" class= "Tekst">Cinéma Bioscoop</a>
      <ul class="menu">
        <li><a href= "/" class="@if(ViewData["currentTab"] == "home"){<text>active</text>}">Home</a></li>
        <li><a href= "/Films" class="@if(ViewData["currentTab"] == "films"){<text>active</text>}">Films</a></li>
        <li><a href= "/Filmagenda" class="@if(ViewData["currentTab"] == "filmagenda"){<text>active</text>}">Filmagenda</a></li>
        <li><a href= "/Bioscoop" class="@if(ViewData["currentTab"] == "bioscoop"){<text>active</text>}">Bioscoop</a></li>
       <li>
           <div class="search-container">
                <form action="#">
                  <input type="text" placeholder="Search.." name="search">
                  <button type="submit"><i class="fa fa-search"></i></button>
                </form>
              </div>
        </li>
      </ul>

    </header>
    <!--div class="fadeout"></!--div-->

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer>
        <H2 class="tekst">© Sint- Maartens College</H2>
        <H2 class="tekst">Cookies</H2>
        <H2 class="tekst">Privacy</H2>
        <H2 class="tekst">Contact</H2>
        <H2 class="tekst">F.A.Q.</H2>
        <H2 <i class="fa-brands fa-instagram"></i> <i class="fa-brands fa-facebook"></i> <i class="fa-brands fa-twitter"></i> </H2>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
