<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://kit.fontawesome.com/eeea9a17b1.js" crossorigin="anonymous"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CinemaBioscoop</title>
    <link rel="stylesheet" href="~/css/site.css" id="theme-link" asp-append-version="true" />
    
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon_package_v0.16/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon_package_v0.16/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon_package_v0.16/favicon-16x16.png">
    <link rel="manifest" href="/favicon_package_v0.16/site.webmanifest">
    <link rel="mask-icon" href="/favicon_package_v0.16/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-KP884F8T9F"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-KP884F8T9F');
</script>

</head>
<body>
    <header> 
      <img src="/img/logo.png" class= "logo" >
      <a href="/" class= "Tekst">Cinéma Bioscoop</a>
      <ul class="menu">
        <li><a href= "/" class="@if(ViewData["currentTab"] == "home"){<text>active</text>}">Home</a></li>
        <li><a href= "/Films" class="@if(ViewData["currentTab"] == "films"){<text>active</text>}">Films</a></li>
        <li><a href= "/Filmagenda" class="@if(ViewData["currentTab"] == "filmagenda"){<text>active</text>}">Filmagenda</a></li>
        <li><a href= "/Bioscoop" class="@if(ViewData["currentTab"] == "bioscoop"){<text>active</text>}">Bioscoop</a></li>
       <li>
           <div class="search-container">
                <form action="#">
                  <input type="text" placeholder="Search.." name="search">
                  <button type="submit"><i class="fa fa-search"></i></button>
                </form>
              </div>
        </li>
      </ul>

    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer>
        <H2 class="tekst">© Sint- Maartens College</H2>
        <a class="tekst" href="/Cookies">Cookies</a>
        <a class="tekst" href="/privacy">Privacy</a>
        <a class="tekst" href="/Contact">Contact</a>
        <a class="tekst" href="/FAQ">F.A.Q.</a>
        <button class="btn-toggle">donker/licht thema</button>
        <H2> 
            <a href="http://www.instagram.com">
                <i class="fa-brands fa-instagram"></i> 
            </a>
            <a href="http://www.facebook.com">
                <i class="fa-brands fa-facebook"></i> 
            </a>
            <a href="http://www.twitter.com">
                <i class="fa-brands fa-twitter"></i> 
            </a>
        </H2>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script>
      const btn = document.querySelector(".btn-toggle");
      const theme = document.querySelector("#theme-link");
      const mode = localStorage.getItem('mode')
      btn.addEventListener("click", function() {
          console.log('het werkt!')
        // Swap out the URL for the different stylesheets
              if /*(theme.getAttribute("href") == "/css/lightmode.css")*/ mode = dark {
                  theme.href = "/css/site.css";
                  localStorage.setItem('mode', 'dark');
                  console.log('darkmode')
              } else {
                  theme.href = "/css/lightmode.css";
                  localStorage.setItem('mode', 'light');
                  console.log('lightmode')
              }
       });
    </script>


</body>
</html>
